h1{
	text-align: center;
	color: #D91E18;
}
table,td,th,tr{
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
	padding: 5px
}
th{
	background-color: #F62459;
}
table.center{
	margin-left: auto;
	margin-right: auto;
	width:100% ;
}
.boh{
	background-color: #446CB3;
}
.cuy{
	background-color: #52B3D9;
}
.grl{
	background-color: #81CFE0;
}
 /*pembatas lyric*/
body {
	  background-image: url("grd.jpg");
	  background-size: 100%
	}
 .red { 
 	color: #34495E;

}
.don{
	color: white;
}